<form [formGroup]="userformgroup">
  <div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        class="form-control"
        type="text"
        name="name"
        id="name"
        formControlName="name"
      />
      <div *ngIf="f['name'].errors">
        <div *ngIf="f['name'].errors['required']" class="text-danger">
          Name is required
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        class="form-control"
        type="text"
        name="username"
        id="username"
        formControlName="username"
      />
      <div *ngIf="f['username'].errors">
        <div *ngIf="f['username'].errors['required']" class="text-danger">
          Username is required
        </div>
        <div
          *ngIf="f['username'].errors['checkIfUsernameExists']"
          class="text-danger"
        >
          Username already exists
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        class="form-control"
        type="text"
        id="password"
        name="password"
        formControlName="password"
        required
        pattern="[a-zA-Z0-9@#]*"
      />
      <div *ngIf="f['password'].errors">
        <div *ngIf="f['password'].errors['required']" class="text-danger">
          Password is required
        </div>
        <div *ngIf="f['password'].errors['minlength']" class="text-danger">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="mb-3">
      <a class="btn btn-primary" [href]="'/user'"> Back </a>
      <button
        type="submit"
        [disabled]="!userformgroup.valid"
        class="btn btn-primary"
        (click)="onClickAdd()"
      >
        Add
      </button>
    </div>
  </div>
</form>

<!-- {{ userformgroup.status }} -->
